h1 {
    color: black;
}

h2 {
    color: black;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    max-width: 1000px;
}

.socials {
    display: inline-block;
}

.headings {
    display: inline-block;
}