@font-face {
    font-family : "OpenSans";
    src         : url("./assets/font/open-sans/OpenSans-Regular.ttf") format("truetype");
    font-weight : 400;
    font-style  : normal;
}

@font-face {
    font-family : "OpenSans";
    src         : url("./assets/font/open-sans/OpenSans-Bold.ttf") format("truetype");
    font-weight : 700;
    font-style  : normal;
}

@font-face {
    font-family : "Poppins";
    src         : url("./assets/font/poppins/Poppins-Regular.ttf") format("truetype");
    font-weight : 400;
    font-style  : normal;
}

@font-face {
    font-family : "Poppins";
    src         : url("./assets/font/poppins/Poppins-Bold.ttf") format("truetype");
    font-weight : 700;
    font-style  : normal;
}


h1 {
    color: hsl(0, 0%, 0%);
}

h2 {
    color: hsl(0, 0%, 0%);
}

body {
    font-family: "OpenSans", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    max-width: 1000px;
}

.socials {
    display: inline-block;
}

.title {
    font-family: "Poppins", sans-serif;
    display: inline-block;
}

