@import "./normalize.css";
@import "./common.css";

/* PROFILE SECTION */


#about {
    display: flex;
    padding-top: 150px;
    height: 72vh;
    margin: 0 8rem;
    box-sizing: border-box;
    min-height: fit-content;
    gap: 100px;
}

.title {
    color: #195942;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 24px;
}

h1.title::after {
    background: #9EFAD9;
    content: "";
    width: 34%;
    height: 27px;
    position: absolute;
    left: 142px;
    bottom: 538px;
    z-index: -1;
}

.section__text__p {
    text-align: justify;
    font-family: "Inconsolata"; 
    color: #195942;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.section__pic-container img {
    display: flex;
    margin: auto 0;
    max-width: 350px;
}

/* FUN FACTS */

.fun-facts-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background: #F8F4ED;
    height: 270px;
    width: 82%;
}

.fun-facts-title {
    font-family: "Karla";
    font-size: 1.5rem;
    color: #195942;
    padding-left: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.fun-facts-list {
        text-align: justify;
        font-family: "Inconsolata"; 
        color: #195942;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 1rem;
        padding-left: 48px;
        padding-right: 48px;
}