@import "./normalize.css";
@import "./common.css";

/* PROFILE SECTION */

#about {
    display: flex;
    padding-top: 150px;
    height: 72vh;
    margin: 0 8rem;
    box-sizing: border-box;
    min-height: fit-content;
    gap: 100px;
}

.title {
    color: #000000;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    padding-bottom: 24px;
}


.section__text__p {
    text-align: justify;
    font-family: "Figtree"; 
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.section__pic-container img {
    display: flex;
    margin: auto 0;
    max-width: 280px;
    padding-bottom: 12px;
}

.caption {
    font-family: "Figtree";
    font-size: 18px;
    color: #999999;
    width: 280px;
}

/* FUN FACTS */

.fun-facts-container {
    display: flex;
    margin: 0 8rem;
    flex-direction: row;
    gap: 320px;
}

.fun-facts-title {
    font-family: "Sora";
    font-size: 30px;
    font-weight: 800;
    color: #000000;
}

.title-image {
    width: 20px;
}

.fun-facts-list {
        text-align: justify;
        font-family: "Figtree"; 
        color: #000000;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        line-height: 1.4;
        padding: 0;
}