* {
    box-sizing: border-box;
}

body {
    font-family: "Sora";
    font-size: 30px;
    margin: 0 auto;
}

/* NAV */

nav, 
.nav-links {
    display: flex;
}

nav {
    justify-content: right;
    margin-right: 8rem;
    align-items: center;
    height: 13vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 20px;
}

a {
    color:#000000;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    position:absolute;
    left:0;
    font: Sora;
    font-size: 20px;
    font-weight: 800px;
    color: #A96DA3;
    padding: 7rem;
}


.logo a:hover {
    text-decoration: none !important;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: 128px;
}

.footer-text {
    color: #000000;
    margin-left: 48px;
}
