* {
    box-sizing: border-box;
}

body {
    font-family: "Sora";
    font-size: 14px;
    margin: 0 auto;
}

p {
    font-size: 16px;
    margin-top: 8px;
}

/* NAV */

nav, 
.nav-links {
    display: flex;
}

nav {
    display: flex;
    padding: 8px 16rem ;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 -5px 2px 4px rgba(0, 0, 0, 0.5)
}

.nav-links {
    font-family: 'Figtree';
    gap: 2rem;
    list-style: none;
    font-size: 18px;
}

a {
    color:#000000;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: #A96DA3;
    text-decoration: underline;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-family: "Sora", semi-bold;
    font-size: 18px;
    color: #A96DA3;
}

.logo a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(181, 181, 181);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.footer-text {
    font-family: 'Figtree';
    color: #000000;
    margin: 24px;
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
}


@media only screen and (max-width: 768px) {
    nav {
        padding: 12px 2rem;
    }
    
}