@import "./normalize.css";
@import "./common.css";

/* PAGE CONTENT */

.heading {
    margin: 0 7rem;
}

.title {
    font-size: 34px;
}

.title-image {
    size: 16px;
}

.cover-image {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 24px;
}

.case-study-text {
    display: flex-row;
    width: 100%;
}

.contributions-title {
    font-family: "Figtree";
    font-size: 24px;
}

.case-study-h2 {
    text-align: justify;
    font-family: "Figtree";
    color: #71808E;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}

.project-details {
    display: flex; 
    justify-content: space-between; 
    line-height: 1.6;
}

.more-details {
    display: flex; 
    flex-direction: column;
}

.project-title {
    font-size: 18px;
    font-weight: 600;
}

.project-content {
    font-size: 16px;
    font-weight: 400;
}

.contributions {
    font-family: "Sora";
    font-size: 28px;
}

.list {
    font-family: "Figtree";
    font-weight: 400;
    font-size:  18px;
    line-height: 1.6;

}

.nda {
    font-family: "Figtree";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 24px;
}