@import "./normalize.css";
@import "./fonts.css";
@import "./variables.css";
@import "./common.css";


/* PROFILE SECTION */


section {
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

.content {
    display: flex;
    margin: 0 7rem;
    gap: 100px;
}

#profile {
    display: flex;
}

.section__pic-container {
    display: flex;
    height: 64px;
    width: 64px;
    margin: auto 0;
}

.section__text {
    text-align: justify;
}

.title {
    color:#000000;
}

.section__text__p {
    text-align: justify;
    font-family: "Figtree"; 
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    width: 320px;
    height: 350px;
    margin-bottom: 1rem;
}

.title {
    font-size: 40px;
    text-align: justify;
    width: 330px;
}

.title-image {
    width: 28px;
}

/* PROJECTS SECTION */

.section__projects-container {
    display: flex;
    flex-direction: column;
    /* background: #F8F4ED; */
}

.project-title {
    font-size: 36px;
    color: #A96DA3;
    display: inline-block;
    padding-bottom: 16px;
}

.project__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.project__card1 {   
    width: 350px;
    height: 330px;
    background:#FADDDB;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.project__card1__image {
    width: 186px;
}

.project__card2 {   
    width: 398px;
    height: 230px;
    background:#F0E7FE;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.project__card2__image {
    width: 300px;
}

.project__card3 {   
    width: 788px;
    height: 282px;
    background:#E4F1FF;
    border-radius: 16px;
}