@import "./normalize.css";
@import "./fonts.css";
@import "./variables.css";
@import "./common.css";


/* PROFILE SECTION */

section {
    padding-top: 4vh;
    height: 80vh;
    margin: 0 8rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 60vh;
}

.section__pic-container {
    display: flex;
    height: 250px;
    width: 250px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: justify;
    width: 450px;
}

.title {
    color:#195942;
}

.section__text__p {
    text-align: justify;
    font-family: "Inconsolata"; 
    color: #195942;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: justify;
}

/* PROJECTS SECTION */

.section__projects-container {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 1200px;
    background: #F8F4ED;
    padding: 64px;
}

.project-title {
    margin: 0;
    font-size: 3rem;
    color: #195942;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding-bottom: 96px;
}

h1.project-title::after {
    background: #9EFAD9;
    content: "";
    width: 90%;
    height: 27px;
    position: absolute;
    left: 31px;
    bottom: 97px;
    z-index: -1;
}

.project__cards {
    display: flex;
    gap: 100px;
    padding-left: 24px;
}

.project__item1 {   
    width: 500px;
    height: 300px;
    position: relative;

}

.project__item1__content {
    background:#FADDDB;
    border: thin;
    border-style: solid;
    border-color: #E2828B;
    padding: 24px;
    width: 100%;
    height: 100%;
    position: relative;
    left: -24px;
    top: -24px;
    transition: ease-in-out 600ms;
}

.project__item1__content:hover {
    left: 0px;
    top: 0px;
}


.project__item1::before {
    background: #E2828B;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.project__item1__title {
    color: #195942;
    font-size: 1.5rem;
}

.project__item1__description {
    color: #195942;
    font-size: 1rem;
}

.project__item1__image img {
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 31%;
}

.project__item2 {   
    width: 500px;
    height: 300px;
    position: relative;

}

.project__item2__content {
    background:#F0E7FE;
    border: thin;
    border-style: solid;
    border-color: #C19EFA;
    padding: 24px;
    width: 100%;
    height: 100%;
    position: relative;
    left: -24px;
    top: -24px;
    transition: ease-in-out 600ms;
}

.project__item2__content:hover {
    left: 0px;
    top: 0px;
}


.project__item2::before {
    background: #C19EFA;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.project__item2__title {
    color: #195942;
    font-size: 1.5rem;
}

.project__item2__description {
    color: #195942;
    font-size: 1rem;
}

.project__item2__image img {
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47%;
}

