@import "./normalize.css";
@import "./common.css";


/* PROFILE SECTION */


section {
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 16rem;
    gap: 48px;
}

#profile {
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
}

.section__pic-container {
    display: flex;
    height: 64px;
    width: 64px;
    margin: auto 0;
}

.section__text {
    text-align: center;
    width: 100%;
}

.title {
    color:#000000;
    font-size: 48px;
    text-align: center;
    width: 100%;
}

.section__text__p {
    font-size: 24px; 
    text-align: center;
    font-family: "Figtree"; 
    color: #000000;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 1rem;
}


.title-image {
    width: 42px;
}

/* PROJECTS SECTION */

.section__projects-container {
    display: flex;
    flex-direction: column;
}

.project__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 48px;
    align-items: center;
}

.project__card3 {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 47.5%;
}

.project__card3__image img {
    width: 100%;
}

.project__card3__text {
    font-family: "Figtree";
    font-size: 16px;
    margin-top: 16px;
    text-align: left;
}

.sub-text {
    font-family: "Figtree"; 
    font-size: 14px;
    color: #5C656C;
}

.project__card2 {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 47.5%;
}

.project__card2__image img {
    width: 100%;
}

.project__card2__text {
    font-family: "Figtree";
    font-size: 16px;
    margin-top: 16px;
    text-align: left;
}

.project__card1 {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 47.5%;
}

.project__card1__image img {
    width: 100%;
}

.project__card1__text {
    font-family: "Figtree";
    font-size: 16px;
    margin-top: 16px;
    text-align: left;
}


.project__card4 {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 47.5%;
}

.project__card4__image img {
    width: 100%;
}

.project__card4__text {
    font-family: "Figtree";
    font-size: 16px;
    margin-top: 16px;
    text-align: left;
}


@media only screen and (max-width: 768px) {
    .content {
        margin: 0 2rem;
        flex-direction: column;
        gap: 48px;
    }

    #profile {
        display: flex;
        padding: 0;
    }

    .title {
        font-size: 30px;
    }

    .title-image {
        width: 10%;
    }

    .section__text__p {
        font-size: 16px;
        font-weight: 500;
    }

    .project__cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 48px;
        align-items: center;
    }

    .project__card3 {
        width: 100%;
    }

    .project__card3__text {
        display: flex;
        flex-flow: wrap;
        text-align: left;
    }

    .project__card2 {
        width: 100%;
    }

    .project__card2__text {
        display: flex;
        flex-flow: wrap;
        text-align: left;
    }

    .project__card1 {
        width: 100%;
    }

    .project__card1__text {
        display: flex;
        flex-flow: wrap;
        text-align: left;
    }

    .project__card4 {
        width: 100%;
    }

    .project__card4__text {
        display: flex;
        flex-flow: wrap;
        justify-content: left;
    }

    .sub-text {
        width: 100%;
        text-align: left;
    }

    footer {
        margin-top: 50px;
    }
}
