@import "./normalize.css";
@import "./common.css";


/* PROFILE SECTION */


section {
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

.content {
    display: flex;
    margin: 0 7rem;
    gap: 100px;
}

#profile {
    display: flex;
}

.section__pic-container {
    display: flex;
    height: 64px;
    width: 64px;
    margin: auto 0;
}

.section__text {
    text-align: justify;
}

.title {
    color:#000000;
    font-size: 40px;
    text-align: justify;
}

.section__text__p {
    text-align: justify;
    font-family: "Figtree"; 
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 1rem;
}


.title-image {
    width: 28px;
}

/* PROJECTS SECTION */

.section__projects-container {
    display: flex;
    flex-direction: column;
    /* background: #F8F4ED; */
}

.project-title {
    font-size: 36px;
    color: #A96DA3;
    display: inline-block;
    padding-bottom: 16px;
}

.project__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
    align-items: center;
}

.project__card1 {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.project__card1__image {
    background: #FEF0EF;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    padding-top: 48px;
}

.project__card1__image img {
    margin-top: 24px;
    width: 160px;
}

.project__card1__text {
    margin-top: 16px;
}

.project__card2 {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.project__card2__image {
    background: #EFEDFC;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 24px;
}

.project__card2__image img {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    width: 400px;
}

.project__card2__text {
    margin-top: 16px;
}

.project__card3 {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.project__card3__image {
    background: #DFF5F6;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 24px;
}

.project__card3__image img {
    width: 400px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 24px;
}

.project__card3__text {
    margin-top: 16px;
}

.project__card4 {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.project__card4__image {
    background: #F1FCE8;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.project__card4__image img {
    width: 300px;
}

.project__card4__text {
    margin-top: 16px;
}


@media only screen and (max-width: 768px) {
    .content {
        margin: 0 2rem;
        flex-direction: column;
        gap: 30px;
    }

    .title {
        font-size: 30px;
    }

    .section__text__p {
        font-size: 16px;
    }

    footer {
        margin-top: 50px;
    }
}
