@import "./normalize.css";
@import "./common.css";


/* PROFILE SECTION */


section {
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 48px 160px;
    gap: 48px;
}

#profile {
    display: flex;
    padding-bottom: 64px;
    width: 405px;
}

.section__pic-container {
    display: flex;
    height: 64px;
    width: 64px;
    margin: auto 0;
}

.section__text {
    text-align: center;
    width: 100%;
}

.title {
    color:#000000;
    font-size: 30px;
    text-align: left;
    width: 100%;
    margin: 0;
}

.section__text__p {
    font-size: 18px; 
    text-align: left;
    font-family: "Figtree"; 
    color: #53585C;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 0;
}

.links {
    display: flex;
        gap: 8px;
        padding: 0;
        color: #53585C;
        text-decoration: underline;
}

.title-image {
    width: 24px;
}

/* PROJECTS SECTION */

.section__projects-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 27px;
}

.project-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.projects {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-bottom: 48px;
}

.project__card3 {   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.project__card3__image img {
    width: 100%;
}

.projects_2_and_3 {
    display: flex;
    flex-direction: column;
    width: 84.6%;
    gap: 8px;
}


.project__card2 {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.project__card2__image img {
    width: 100%;
}

.project__card1 {   
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.project__card1__image img {
    width: 100%;
}

.project__card1__text {
    font-family: "Figtree";
    font-size: 16px;
    margin-top: 16px;
    text-align: left;
}

.projects-2 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.section__projects-container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 27px;
}

.project__card4 {
    height: 100%;
}

.project__card4__image img {
    width: 100%;
}

.projects_5_and_6 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project__card5__image img {
    width: 100%;
}

.project__card6__image img {
    width: 100%;
}

.projects-3 {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    width: 100%;
}

.section__projects-container-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 27px;
    padding-bottom: 48px;
}


.project__card7__image img {
    width: 100%;
}

.other__projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project__card8and9 {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.project__card8__image img {
    width: 100%;
}

.project__card9__image img {
    width: 100%;
}

.project__card10and11 {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.project__card10__image img {
    width: 100%;
}

.project__card11__image img {
    width: 100%;
}

.project__card12__image img {
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .content {
        margin: 0 2rem;
        flex-direction: column;
        gap: 48px;
    }

    #profile {
        display: flex;
        padding: 0;
    }

    .section__text {
        padding-top: 48px;
    }

    .title {
        font-size: 30px;
    }

    .title-image {
        width: 10%;
    }

    .section__text__p {
        font-size: 16px;
        font-weight: 500;
    }

    .project__cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 48px;
        align-items: center;
    }

    .project__card3 {
        width: 100%;
    }

    .project__card3__text {
        display: flex;
        flex-flow: wrap;
        text-align: left;
    }

    .project__card2 {
        width: 100%;
    }

    .project__card2__text {
        display: flex;
        flex-flow: wrap;
        text-align: left;
    }

    .project__card1 {
        width: 100%;
    }

    .project__card1__text {
        display: flex;
        flex-flow: wrap;
        text-align: left;
    }

    .project__card4 {
        width: 100%;
    }

    .project__card4__text {
        display: flex;
        flex-flow: wrap;
        justify-content: left;
    }

    .sub-text {
        width: 100%;
        text-align: left;
    }

    footer {
        margin-top: 50px;
    }

    .footer-text {
        font-family: 'Figtree';
        color: #000000;
        margin: 24px;
        text-align: center;
        line-height: 1.4;
        font-size: 14px;
    }
}
