@import "./normalize.css";
@import "./common.css";

/* PAGE CONTENT */

.heading {
    margin: 0 16rem;
}

.title {
    font-size: 34px;
}

.title-image {
    size: 16px;
}

.cover-image {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 24px;
}

.case-study-text {
    display: flex-row;
    padding: 0 16rem;
    width: 100%;
}

.contributions-title {
    font-family: "Figtree";
    font-size: 24px;
}

.case-study-h2 {
    text-align: justify;
    font-family: "Figtree";
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
}

.project-details {
    display: flex; 
    justify-content: space-between; 
    line-height: 1.6;
}

.more-details {
    display: flex; 
    flex-direction: column;
}

.project-title {
    color: #71808E;
    font-size: 18px;
    font-weight: 600;
}

.project-content {
    font-size: 16px;
    font-weight: 400;
}

.contributions {
    font-family: "Sora";
    font-size: 28px;
}

.list {
    font-family: "Figtree";
    font-weight: 400;
    font-size:  18px;
    line-height: 1.6;
    margin-bottom: 1rem;

}

.nda {
    font-family: "Figtree";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 24px;
}

@media only screen and (max-width: 768px) {
    .top-nav {
        padding: 12px 2rem;
    }

    .case-study-text {
        padding: 12px 2rem;
    }

    .title {
        font-size: 18px;
        gap: 8px;
    }

    .title-image {
        width: 16px;
    }

    .case-study-h2 {
        text-align: left;
        font-family: "Figtree";
        color: #000000;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
    }

    .project-details {
        display: flex;
        flex-direction: column;
        gap: 14px;
        line-height: 1.6;
    }

    .project-title {
        color: #71808E;
        font-weight: 500;
        font-size: 14px;
    }
    
    .project-content {
        font-size: 14px;
    }

    .contributions-title {
        display: flex;
        font-size: 18px;
        font-weight: 600;
    }

    .list {
        font-size: 16px;
    }

    .nda {
        font-family: "Figtree";
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        padding-bottom: 24px;
    }



    footer {
        margin-top: 50px;
    }
}
