@import "variables.css";

h1 {
    color: hsl(0, 0%, 0%);
    text-align: right;
    margin: 0.67em 0 0 0.2em;
}

h2 {
    color: hsl(0, 0%, 0%);
}

body {
    font-family: "OpenSans", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    margin-top: 50px;
    margin-bottom: 16px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.main-nav ul li a {
    background-color: transparent;
    text-decoration: none;
    color: black;
}

section {
    display: block;
  }

.socials {
    display: inline-block;
}

.title {
    font-family: "Poppins", sans-serif;
    display: inline-block;
}

.intro {
    width: 100%;
    display: inline-block;
    text-align: justify;
    margin-block: 24px;
    color: #53585C;
}

a {
    text-decoration: none;
    color: #53585C;
}
.project-list {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.project-list .project {
    background-color: #F0F3F4;
    padding: 24px;
    display: flex;
}

img {
    width: 350px;
    margin: 24px;
}

.project-list .project-content {
    margin: 24px;
}

.cta {
    color: #6B7073;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-block: 24px;
}


.footer ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.footer ul li a {
    background-color: transparent;
    text-decoration: none;
    color: black;
}
