
h1 {
    color: hsl(0, 0%, 0%);
    text-align:center;
}

h2 {
    color: hsl(0, 0%, 0%);
}

body {
    font-family: "OpenSans", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    width: 50%;
    margin: 0 auto;
}

.socials {
    display: inline-block;
}

.title {
    font-family: "Poppins", sans-serif;
    display: inline-block;
}

img {
    margin: 0 auto;
    display: inline-block;
    width: 30%;
}

.intro {
    width: 65%;
    display: inline-block;
    margin-left: 10px;
    text-align: justify;
}

.row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }