
h1 {
    color: hsl(0, 0%, 0%);
    text-align:center;
}

h2 {
    color: hsl(0, 0%, 0%);
}

body {
    font-family: "OpenSans", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    width: 50%;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

section {
    display: block;
  }

.socials {
    display: inline-block;
}

.title {
    font-family: "Poppins", sans-serif;
    display: inline-block;
}

.profile-picture {
    margin: 0 auto;
    display: inline-block;
    width: 30%;
}

.intro {
    width: 65%;
    display: inline-block;
    margin-left: 10px;
    text-align: justify;
}

.project-list {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.project {
    width: calc(50% - 10px);
}

.project-image {
    width: 100%;
}